<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <style type="text/css">
        .logos_block {
            padding: 5px;
        }

        .logos_block img {
            height: 40px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    </style>
  <title>Internet Store</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <div th:replace="~{navigation :: navigation(Home)}"></div>
  <h2 style="color: #005139;">InternetStore <span style="color: #457725;">&#127811</span></h2>
  <p style="text-align: justify;">
    Simple internet store on the Spring framework (Java).</p>
  <p><a href="https://github.com/m1nuano">View on GitHub</a></p>
  <div th:replace="footer :: footer"></div>
</div>
</body>
</html>